[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
requests = "*"
pytest-django = "*"
sentry-sdk = "*"
waitress = "*"
psycopg2 = "==2.8.4"
vmck = {editable = true,path = "."}
